.navBar{
  height: 100px;
  width: 100%;
  background-color: black;
}


.footer{
  height: 50px;
  width: 100%;
  background-color: black;
  position: absolute;
  bottom: 0;
}

.main_sec{
  border: 1px solid red;
  width: 50%;
  height: 100%;
  overflow: auto;
  margin: 0 auto;
  text-align: center;
}

.card_container{
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin-bottom: 5px;
  margin-top: 5px;
}